.grid-container {
    margin-top: 120px;
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: auto auto auto;
  }

.border-item{
    border: 3px solid #0a0a23;
    border-radius: 30px; 
    width: 432px;
    height: 432px;
    background-color: #e1e1e1;
  }

.ex6 h1 {
    border: 0px solid #0a0a23;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: #0a0a23;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 96px;
    margin: auto;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
}


.text-art p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a0a23;
    color: aliceblue;
  }

.main-heading{
    max-width: 800px;
    text-align: center;
    margin: auto;
  }

.main-heading h1{
    font-size: 50px;
  }


  form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  form > .textbox {
    outline: 0;
    height: 42px;
    width: 400px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  form > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
  }
