<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ message }}</h1>
    <p>User Balance: ${{ user.balance }}</p>
    <p>Total Cost: ${{ total_price }}</p>
    <form action="/" method="get">
            <button type="submit">Home</button>
    </form>
</body>
</html>
