<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL injections</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
    <div class="main-heading">
      <h1><span id="header">There you can find SQL injections!</span></h1>
      <p>Below are a few links to the pages where you can find your first sql injection tasks.</p>
    </div>  
    </header>

    <div class="margin-top-40">
        <button onclick="location.href='/1/'" type="button" class="button_index">First task</button>
    </div>

    <div class="margin-top-40">
        <button onclick="location.href='/2/'" type="button" class="button_index">Second task</button>
    </div>

    <div class="margin-top-40">
        <button onclick="location.href='/3/'" type="button" class="button_index">Third task</button>
    </div>

    <div class="margin-top-40">
        <button onclick="location.href='#'" type="button" class="button_index">Back</button>
    </div>

  </body>
</html>