<!DOCTYPE html>
<html>
<head>
    <title>SSRF Challenge</title>
</head>
<body>
    <h1>Welcome to the SSRF Challenge!</h1>
    <p>Try to exploit path traversal vulnerabilities to get the flags.</p>
    <button onclick="location.href='/first'" type="button" class="button_index">FIRST</button>
    <button onclick="location.href='/second'" type="button" class="button_index">SECOND</button>
    <button onclick="location.href='/third'" type="button" class="button_index">THIRD</button>
</body>
</html>