<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF Jeopardy Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        .container {
            margin: 20px auto;
            max-width: 800px;
            padding: 0 20px;
        }
        .task {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .task h2 {
            margin-top: 0;
        }
        .task p {
            margin-bottom: 5px;
        }
        .task .btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
        .task .btn:hover {
            background-color: #0056b3;
        }
        .correct {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <header>
        <h1>CTF Jeopardy Dashboard</h1>
    </header>
    <div class="container">
        <h2>Business Logic Vulnerabilities</h2>
        <div class="task" id="bl-task1" data-taskid="bl-task1">
            <p>Task 1:</p>
            <p>I have an internet shop. I tried to make it as comfortable for anyone as possible!</p>
            <p>Look! I've even provided a discount!</p>
            <p><b>Task location:</b> <a href="http://blogic.stsctf.sne"> blogic.stsctf.sne </a>  </p>
            <input type="text" id="bl-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('bl-flag1', 'bl-task1')">Submit</button>
        </div>
        <div class="task" id="bl-task2" data-taskid="bl-task2">
            <p>Task 2:</p>
            <p>My shop grows fast! I've decided to add products for RICH people.</p>
            <p>Hope, the shop can manage it.</p>
            <p><b>Task location:</b> <a href="http://blogic.stsctf.sne"> blogic.stsctf.sne </a>  </p>
            <input type="text" id="bl-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('bl-flag2', 'bl-task2')">Submit</button>
        </div>
        <div class="task" id="bl-task3" data-taskid="bl-task3">
            <p>Task 3:</p>
            <p>Hmm.. It seems, that to attract the newcommers, I need to provide gift Codes.</p>
            <p>Looks pretty!</p>
            <p><b>Task location:</b> <a href="http://blogic.stsctf.sne"> blogic.stsctf.sne </a>  </p>
            <input type="text" id="bl-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('bl-flag3', 'bl-task3')">Submit</button>
        </div>
    </div>
    
        <div class="container">
        <h2>Insecure Deserialization</h2>
        <div class="task" id="id-task1" data-taskid="id-task1">
            <p>Task 1:</p>
            <p>I've developed a service that can show the user information. I suppose that serialization is good for it!</p>
            <p>I should give the secret message only for those who has a flag</p>
            <p><b>Task location:</b> <a href="http://deserialization.stsctf.sne/index.php"> deserialization.stsctf.sne </a> </p>
            <input type="text" id="id-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('id-flag1', 'id-task1')">Submit</button>
        </div>
        <div class="task" id="id-task2" data-taskid="id-task2">
            <p>Task 2:</p>
            <p>Ok, I see, that there are some problems.. I've added an administrator access to manage the problems.</p>
            <p>Here, his role is signed! No one can bypass it!.</p>
            <p><b>Task location:</b> <a href="http://deserialization.stsctf.sne/index.php"> deserialization.stsctf.sne </a> </p>
            <input type="text" id="id-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('id-flag2', 'id-task2')">Submit</button>
        </div>
        <div class="task" id="id-task3" data-taskid="id-task3">
            <p>Task 3:</p>
            <p>I've implemented a Logger Class, but for now I don't know how to use it correctly. Let it be till the better times.</p>
            <p>Here is it:</p>
            <textarea rows="27" cols="58">
class Logger {
    private $event;
    private $callback;

    public function __construct($event) {
        $this->event = $event;
    }

    public function setCallback($callback) {
        if (is_callable($callback)) {
            $this->callback = $callback;
        }
    }

    public function log() {
        if (isset($this->callback)) {
            call_user_func($this->callback, $this->event);
        }
        return "[Event: {$this->event}]";
    }

    public function __wakeup() {
        if (isset($this->callback)) {
                $this->log();
        }
    }
}  
            </textarea>
            <p>Also, I've put something in /flag file that will help me for future understanding</p>
            <p><b>Task location:</b> <a href="http://deserialization.stsctf.sne/index.php"> deserialization.stsctf.sne </a> </p>
            <input type="text" id="id-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('id-flag3', 'id-task3')">Submit</button>
        </div>
    </div>
    
    <div class="container">
        <h2>XXE</h2>
        <div class="task" id="xxe-task1" data-taskid="xxe-task1">
            <p>Task 1:</p>
            <p>I really like Pokemons! You can try my service for displaying information about them!</p>
            <p>In future it can become a great social media!</p>
            <p><b>Task location:</b> <a href="http://xxe.stsctf.sne/pokemons.php"> xxe.stsctf.sne </a>  </p>
            <input type="text" id="xxe-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('xxe-flag1', 'xxe-task1')">Submit</button>
        </div>
        <div class="task" id="xxe-task2" data-taskid="xxe-task2">
            <p>Task 2:</p>
            <p>I have implemented a service for uploading and viewing pictures!.</p>
            <p>I made it Secure. No one can abuse it!</p>
            <p><b>Task location:</b> <a href="http://xxe.stsctf.sne/image_upload.php"> xxe.stsctf.sne </a> </p>
            <input type="text" id="xxe-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('xxe-flag2', 'xxe-task2')">Submit</button>
        </div>
    </div>

    <div class="container">
        <h2>SQL Injections</h2>
        <div class="task" id="sqli-task1" data-taskid="sqli-task1">
            <p>Task 1:</p>
            <p>Finally, we have opened access to our website only for VIPs.</p>
            <p>If you have access, then you are welcome.</p>
            <p><b>Task location:</b> <a href="http://sqli.stsctf.sne/1/first"> sqli.stsctf.sne/first </a> </p>
            <input type="text" id="sqli-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('sqli-flag1', 'sqli-task1')">Submit</button>
        </div>
        <div class="task" id="sqli-task2" data-taskid="sqli-task2">
            <p>Task 2:</p>
            <p>We don't like the current sites for articles, so we offer our own version.</p>
            <p>You can find any articles approved by moderators on our website.</p>
            <p><b>Task location:</b> <a href="http://sqli.stsctf.sne/2/second"> sqli.stsctf.sne/second </a>  </p>
            <input type="text" id="sqli-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('sqli-flag2', 'sqli-task2')">Submit</button>
        </div>
        <div class="task" id="sqli-task3" data-taskid="sqli-task3">
            <p>Task 3:</p>
            <p>We present you a new website for image search.</p>
            <p>Here you can use filters by category!</p>
            <p><b>Task location:</b> <a href="http://sqli.stsctf.sne/3/third"> sqli.stsctf.sne/third </a>  </p>
            <input type="text" id="sqli-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('sqli-flag3', 'sqli-task3')">Submit</button>
        </div>
    </div>
    
    <div class="container">
        <h2>File Upload Vulnerabilities</h2>
        <div class="task" id="file-task1" data-taskid="file-task1">
            <p>Task 1:</p>
            <p>We have a competition for the best picture of this year.</p>
            <p>Upload yours and find out the result in a week.</p>
            <p><b>Task location:</b> <a href="http://file.stsctf.sne/1/simple.php"> file.stsctf.sne/1 </a>  </p>
            <input type="text" id="file-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('file-flag1', 'file-task1')">Submit</button>
        </div>
        <div class="task" id="file-task2" data-taskid="file-task2">
            <p>Task 2:</p>
            <p>The last contest was disrupted because of hackers.</p>
            <p>But now we've got everything covered.</p>
            <p><b>Task location:</b> <a href="http://file.stsctf.sne/2/medium.php"> file.stsctf.sne/2 </a> </p>
            <input type="text" id="file-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('file-flag2', 'file-task2')">Submit</button>
        </div>
        <div class="task" id="file-task3" data-taskid="file-task3">
            <p>Task 3:</p>
            <p>We have created a great website where you can find the best one-line commands.</p>
            <p>And also upload your own version, which we will definitely consider.</p>
            <p><b>Task location:</b> <a href="http://file.stsctf.sne/3/hard.php"> file.stsctf.sne/3 </a> </p>
            <input type="text" id="file-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('file-flag3', 'file-task3')">Submit</button>
        </div>
    </div>
    
    <div class="container">
        <h2>Access Control Vulnerabilities</h2>
        <div class="task" id="access-task1" data-taskid="access-task1">
            <p>Task 1:</p>
            <p>We are checking how our website traffic counting system works.</p>
            <p>Help our admins and log in under the <b>user:user</b> credits.</p>
            <p><b>Task location:</b> <a href="http://access.stsctf.sne/1/simple.php"> access.stsctf.sne/1  </a></p>
            <input type="text" id="access-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('access-flag1', 'access-task1')">Submit</button>
        </div>
        <div class="task" id="access-task2" data-taskid="access-task2">
            <p>Task 2:</p>
            <p>We have developed a system that generates its own reliable secret for each user.</p>
            <p>Try it, because no one can find out exactly your secret.</p>
            <p><b>Task location:</b> <a href="http://access.stsctf.sne/2/medium.php?user=user"> access.stsctf.sne/2 </a>  </p>
            <input type="text" id="access-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('access-flag2', 'access-task2')">Submit</button>
        </div>
        <div class="task" id="access-task3" data-taskid="access-task3">
            <p>Task 3:</p>
            <p>Due to the sad experience, we have developed a session verification system.</p>
            <p>No one can hack it!</p>
            <p><b>Task location:</b> <a href="http://access.stsctf.sne/3/hard.php"> access.stsctf.sne/3 </a>  </p>
            <input type="text" id="access-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('access-flag3', 'access-task3')">Submit</button>
        </div>
    </div>
    
    <div class="container">
        <h2>Authentication Vulnerabilities</h2>
        <div class="task" id="auth-task1" data-taskid="auth-task1">
            <p>Task 1:</p>
            <p></p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="auth-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('auth-flag1', 'auth-task1')">Submit</button>
        </div>
        <div class="task" id="auth-task2" data-taskid="auth-task2">
            <p>Task 2:</p>
            <p></p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="auth-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('auth-flag2', 'auth-task2')">Submit</button>
        </div>
    </div>

    <div class="container">
        <h2>Server-side request forgery (SSRF)</h2>
        <div class="task" id="ssrf-task1" data-taskid="ssrf-task1">
            <p>Task 1:</p>
            <p></p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="ssrf-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('ssrf-flag1', 'ssrf-task1')">Submit</button>
        </div>
        <div class="task" id="ssrf-task2" data-taskid="ssrf-task2">
            <p>Task 2:</p>
            <p></p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="ssrf-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('ssrf-flag2', 'ssrf-task2')">Submit</button>
        </div>
        <div class="task" id="ssrf-task3" data-taskid="ssrf-task3">
            <p>Task 3:</p>
            <p></p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="ssrf-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('ssrf-flag3', 'ssrf-task3')">Submit</button>
        </div>
    </div>

    <div class="container">
        <h2>Path Traversal</h2>
        <div class="task" id="path-task1" data-taskid="path-task1">
            <p>Task 1:</p>
            <p>I have many secrets hidden throughout the Shire.</p>
            <p>Can you find the simplest one?</p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="path-flag1" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('path-flag1', 'path-task1')">Submit</button>
        </div>
        <div class="task" id="path-task2" data-taskid="path-task2">
            <p>Task 2:</p>
            <p>My tall old friend lost some kind of flag in Hobbiton, but I think he's hiding something more valuable...</p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="path-flag2" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('path-flag2', 'path-task2')">Submit</button>
        </div>
        <div class="task" id="path-task3" data-taskid="path-task3">
            <p>Task 3:</p>
            <p>Although hobbits are famous for their hospitality, I will not let you into my sweet home today.</p>
            <p>My precious-s-s-s-s</p>
            <p><b>Task location:</b> ... </p>
            <input type="text" id="path-flag3" placeholder="Enter flag">
            <button class="btn" onclick="checkFlag('path-flag3', 'path-task3')">Submit</button>
        </div>
    </div>

    <script>
        function checkFlag(inputId, taskId) {
            var input = document.getElementById(inputId);
            var flag = input.value;
            var taskDiv = document.getElementById(taskId);
            var taskID = taskDiv.dataset.taskid;

            // AJAX request to Flask backend
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/check_flag", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.is_correct) {
                        taskDiv.classList.add('correct');
                        input.disabled = true; // Disable input field after correct flag submission
                    } else {
                        alert('Incorrect flag. Please try again.');
                    }
                }
            };
            xhr.send(JSON.stringify({ task_id: taskID, flag: flag }));
        }
    </script>
</body>
</html>
